*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.col-1 {
  width: 100%; }

.col-2 {
  width: 50%; }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .col-2 {
      width: 100%;
      padding-bottom: 20px; } }
  @media only screen and (min-width: 250px) and (max-width: 479px) {
    .col-2 {
      width: 100%;
      padding-bottom: 20px; } }
  @media only screen and (min-width: 600px) and (max-width: 800px) {
    .col-2 {
      width: 100%;
      padding-bottom: 20px; } }

.col-4 {
  width: 25%; }

.col-8 {
  width: 12.5%; }

[class*='col-'] {
  float: left;
  position: relative; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  height: 100%; }

#loaderContainer {
  position: relative;
  margin: 35px 0 0 35px; }

.loader {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px; }
  .loader .center {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    animation: center 0.8s ease-in-out infinite; }

@keyframes center {
  0%, 10%, 90%, 100% {
    transform: scale(0.3); }
  45%, 55% {
    transform: scale(1); } }
body {
  font-family: Arial;
  background: #00ace4;
  color: white;
  font-size: 14px; }

h1 {
  font-size: 32px;
  font-weight: bold;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  top: 50%;
  position: absolute; }

p {
  line-height: 1.5; }

header {
  width: 100%;
  background: black;
  height: 77px;
  margin-bottom: 30px;
  color: white;
  position: relative;
  padding: 20px; }

main {
  width: 50%;
  padding: 20px; }
  @media only screen and (min-width: 800px) and (max-width: 1279px) {
    main {
      width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    main {
      width: 100%; } }
  @media only screen and (min-width: 250px) and (max-width: 479px) {
    main {
      width: 100%; } }
  @media only screen and (min-width: 600px) and (max-width: 800px) {
    main {
      width: 100%; } }

#formContainer {
  margin-top: 20px; }
  #formContainer input {
    min-width: 70%;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 11px;
    font-size: 16px;
    background: white;
    outline: none;
    transition: background, 0.2s, linear; }
    @media only screen and (min-width: 480px) and (max-width: 599px) {
      #formContainer input {
        width: 100%; } }
    #formContainer input:focus {
      background: #e0e0e0; }
    @media only screen and (min-width: 250px) and (max-width: 479px) {
      #formContainer input {
        width: 100%; } }
    #formContainer input:focus {
      background: #e0e0e0; }
    @media only screen and (min-width: 600px) and (max-width: 800px) {
      #formContainer input {
        width: 100%; } }
    #formContainer input:focus {
      background: #e0e0e0; }
  #formContainer button {
    font-weight: bold;
    background: #00546f;
    color: #fff;
    border-radius: 3px;
    margin-top: 25px;
    border: none;
    padding: 9px 15px; }
    #formContainer button:hover {
      cursor: pointer; }
  #formContainer label {
    display: block;
    margin-bottom: 7px; }
  #formContainer .status {
    display: inline-block;
    font-weight: bold;
    padding: 7px;
    background: white;
    margin-top: 35px; }
    #formContainer .status .loginerror {
      color: red; }
    #formContainer .status .loginsuccess {
      color: green; }

/*# sourceMappingURL=output.css.map */
